/* اللوجو */
.navbar-brand {
 color: #949494;

font-family: Cinzel;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal
}
.navbar-brand span {
  color: #caa766;
}

/* البحث */
.form-control {
  border: 1px solid #ddd;
  padding: 6px 15px;
  font-size: 0.95rem;
}
.form-control:focus {
  border-color: #caa766;
  box-shadow: 0 0 4px rgba(202, 167, 102, 0.5);
}

/* الروابط */
.nav .nav-link {
color: #949494;

font-family: Cinzel;
font-size: 20px;
font-style: normal;
font-weight: 200;
line-height: normal;

}
.nav .nav-link:hover {
  color: #caa766 !important;
}
.nav .nav-link.text-danger {
  font-weight: bold;
}

/* الأيقونات */
.navbar i {
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}
.navbar i:hover {
  color: #caa766;
}

/* صورة البروفايل */
.navbar img {
  border: 2px solid #ddd;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  object-fit: cover;
  transition: border-color 0.3s ease;
}
.navbar img:hover {
  border-color: #caa766;
}


/* الصور */
.product-main-img {
  background-color: #f8f3ec; /* نفس البيج اللي في الصورة */
}
.img-thumbnail {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border: 1px solid #ddd;
}
.thumb-more {
  width: 70px;
  height: 70px;
  font-size: 0.8rem;
  font-weight: 600;
  color: #555;
}

/* الألوان */
.color-box {
  width: 25px;
  height: 25px;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.bg-brown {
  background-color: #5c3a1e;
}

/* الأزرار */
.btn-custom {
  background-color: #caa766;
  color: white;
  font-weight: 600;
}
.btn-custom:hover {
  background-color: #b8944f;
}



h2{
  font-size: 18px;
  font-family: "Playfair Display";
  margin-left: 36px;
  font-weight: bolder;
  margin-top: 70px;
  margin-bottom: 65px;
}
  .product-img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    border-radius: 10px;
    padding: 15px;
    display: inline;
    }

    .product-card h2{
      font-size: 28px;
  font-family: "Playfair Display";
  margin-left: 10px;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 65px;
  
    }

    .rating {
      color: #b3b00bd5;
    }
   .price{
    font-size: 17px;
  margin-top: -104px;
  font-weight: bold;
  margin-left: 15px;
   }
   .sold-out {
color: rgba(107, 96, 96, 0.582);
  font-family: "Playfair Display";
  margin-top: -101px;
  margin-right: 15px;
margin-left: 15px;
}


/* start of Review section*/

.reviews-section h3 {
float: left;
padding-left: 30px;
padding-top: 50px;
font-weight: 600;
}
.reviews-section span{
float: right;
padding-right: 600px;
padding-top: 50px;
}


   .review {
      display: flex;
      margin-bottom: 20px;
      border-bottom: 1px solid #ddd;
      padding-bottom: 15px;
    }

    .review img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 15px;
    }
    .review-actions span {
color: #b15f1d;
    }

    .review-actions button{
      text-decoration: none;
    }

/* end of Review section*/


.rating-summary {
  max-width: 350px;
  float: right;
  padding-left: 600px;
  
}

.progress {
  height: 10px;
  background-color: #eee;
  border-radius: 5px;
}

.progress-bar {
  background-color: #b8860b !important; /* ذهبي */
  border-radius: 5px;
}



